
.p-5.text-center.bg-image(style="\
background-image: url('https://www.unir.net/wp-content/uploads/2022/02/empresacabecera.jpg');\
height: 400px;\
")
  .mask(style='background-color: rgba(0, 0, 0, 0.6);')
    .d-flex.justify-content-center.align-items-center.h-100
      .text-white
        h1.mb-3 Sobre nosotros
        h4.mb-3 Conoce un poco de nuestra historia ayudando a los demas
        br
        
        a.btn.btn-outline-light.btn-lg.mx-2.registro(href='#!' role='button' data-bs-toggle='modal' data-bs-target='#modalRegistro') Buscas un servicio

        a.btn.btn-outline-light.btn-lg(href='/new_service' role='button') Quieres ofrecer un servicio

br
.row
    .col-4
        .card.mb-3(style='max-width: 540px;')
            .row.g-0
                .col-md-4
                     img.img-fluid.rounded-start(src='https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp' alt='Trendy Pants and Shoes')
                .col-md-8
                    .card-body
                        h5.card-title Card title
                        p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to
                        | additional content. This content is a little bit longer.
                        p.card-text
                        small.text-muted Last updated 3 mins ago

    .col-4
        .card.mb-3(style='max-width: 540px;')
            .row.g-0
                .col-md-4
                     img.img-fluid.rounded-start(src='https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp' alt='Trendy Pants and Shoes')
                .col-md-8
                    .card-body
                        h5.card-title Card title
                        p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to
                        | additional content. This content is a little bit longer.
                        p.card-text
                        small.text-muted Last updated 3 mins ago
    .col-4
        .card.mb-3(style='max-width: 540px;')
            .row.g-0
                .col-md-4
                   img.img-fluid.rounded-start(src='https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp' alt='Trendy Pants and Shoes')
                .col-md-8
                    .card-body
                        h5.card-title Card title
                        p.card-text
                        | This is a wider card with supporting text below as a natural lead-in to
                        | additional content. This content is a little bit longer.
                        p.card-text
                        small.text-muted Last updated 3 mins ago


