
.text-center(style="\
background-image: url('https://www.unir.net/wp-content/uploads/2022/02/empresacabecera.jpg');\
height: 400px;\
")
  
    .d-flex.justify-content-center.align-items-center.h-100(style='background-color: rgba(0, 0, 0, 0.6);')
      .text-white
        h1.mb-3 Sobre nosotros
        h4.mb-3 Conoce un poco de nuestra historia ayudando a los demas
        br
        
        a.btn.btn-outline-light.btn-lg.mx-2.registro(href='#!' role='button' data-bs-toggle='modal' data-bs-target='#modalRegistro') Buscas un servicio

        a.btn.btn-outline-light.btn-lg.my-2(href='/new_service' role='button') Quieres ofrecer un servicio

br
.card.mb-3(style='max-width: 540px;')
  
    .card-body.text-center
        h5.card-title Somos 100 % Hidalguenses
        p.card-text
          | Nos enorgullece ser hidalguenses, por eso decidimos apoyar a nuestra gente 
    br
    .card-body.text-center
        h5.card-title Acercamos a nuestra gente a servicios de calidad
        p.card-text
          | Confiamos en nuestra gente y aportamos una herramienta que les ayude a acercar más sus servicios a la localidad en la que viven
