nav.navbar.fixed-top
  .container-fluid
   
    button.btn.btn-secondary(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasNavbar' aria-controls='offcanvasNavbar')
      span.navbar-toggler-icon
    #offcanvasNavbar.offcanvas.offcanvas-end(tabindex='1' aria-labelledby='offcanvasNavbarLabel')
        .offcanvas-header
            h5#offcanvasNavbarLabel.offcanvas-title Menu
            button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
        hr
        .offcanvas-body.text-center
                button.btn-link.btn.mx-2.text-dark
                    i.fas.fa-user-edit
                    |  Editar perfil 
                br
                button.create_service.btn.btn-link.mx-2.text-dark
                    i.fas.fa-list
                    |  Crear servicio