nav.navbar.navbar-expand-lg.bg-light
  .container-fluid
    a.navbar-brand(href='/') #{title}
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarTogglerDemo02' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarTogglerDemo02.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        
        li.nav-item
          a.nav-link.text-black(href='/about') Sobre nosotros
        li.nav-item
          a.nav-link.text-black(href='/new_service') ¿ Ofreces un servicio ?
        li.nav-item
          button.btn.btn-primary.me-3.registro(type='button' data-bs-toggle='modal' data-bs-target='#modalRegistro') Registrate
       
     
      

