nav.navbar.navbar-expand-lg.bg-light
  .container-fluid
    a.navbar-brand(href='/') #{title}

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  // Container wrapper
  .container-fluid
    // Toggle button
    button.navbar-toggler(type='button' data-mdb-toggle='collapse' data-mdb-target='#navbarCenteredExample' aria-controls='navbarCenteredExample' aria-expanded='false' aria-label='Toggle navigation')
      i.fas.fa-bars
    // Collapsible wrapper
    #navbarCenteredExample.collapse.navbar-collapse.justify-content-center
      // Left links
      ul.navbar-nav.mb-2.mb-lg-0
        li.nav-item
          button.btn.btn-default.me-3.registro.text-dark(type='button' data-bs-toggle='modal' data-bs-target='#modalRegistro') Registrate
      
      
       
      

          
      

