.text-center(style="background-color:#2e679a;")
     
      a.btn.btn-ligth.text-white.registro(type='button' data-bs-toggle='modal' data-bs-target='#modalRegistro')  Registrate 
      a.btn.btn-ligth.text-white.mx-2(type='button' href="/login") 
        i.fas.fa-sign-in-alt
        |  Inicia sesión 
        
.text-end(style="background-color:#2e889a;")
    .row 
      .col-1
      .col-10.text-center.my-4
          a(href='/')
                  img( width="130px" src="./public/img/logo.jpeg", alt="", srcset="" class="rounded-circle")
      .col-1



      

      .col-3.col-sm-3.col-md-3
      
   

       
      

          
      

