div
  .text-end(style="background-color:#2e889a;")
    .row 
      .col-1
      .col-10.text-center.my-4
          a(href='/')
                  img( width="10%" src="./public/img/logo.jpeg", alt="", srcset="" class="rounded-circle")
      .col-1

.container-fluid.text-end(style="background-color:#2e679a;")
     
      button.btn.btn-link.me-3.text-white.registro(type='button' data-bs-toggle='modal' data-bs-target='#modalRegistro') | Registrate |
      button.btn.btn-link.me-3.text-white(type='button' data-bs-toggle='modal' data-bs-target='#modalRegistro') | Inicia sesión |
      button.btn.btn-link.me-3.text-white(type='button' data-bs-toggle='modal' data-bs-target='#modalRegistro') | Inicia sesión |
      
      
     
.container-fluid.py-3
  .row
      .col-1 
      .col-10.text-center
          div
            input#buscar_servicio.rounded(size="70" type="text",  placeholder="Buscar un servicio.....")
            
      .col-1
   

       
      

          
      

