
.text-center(style="\
background-image: url('https://merida.anahuac.mx/hs-fs/hubfs/posgrado/Blog%20Posgrado/2018%20Posgrado/Junio%2018%20posgrado/negociacion%20para%20empresas.png?width=1200&name=negociacion%20para%20empresas.png');\
height: 400px;\
")

    .d-flex.justify-content-center.align-items-center.h-100(style='background-color: rgba(0, 0, 0, 0.6);')
      .text-white
        h1.mb-3 ¡ Da el primer paso !
        h4.mb-3 Iniciar tu registro te lleva menos de 5 minutos
        p.mb-3 Llena el siguiente formulario para comenzar con la plataforma



br
.row
        .col-1
        .col-12
            .card.border
                .card-header.text-white.text-center(style="background-color:#2e889a;")
                    
                    h3
                        i.fa-solid.fa-user
                        |   Datos personales
                    hr
                    p Ingresa los siguientes datos:
                .card-body
                    .row
                        p 
                            b 
                                i.fa-solid.fa-user
                                |  Nombe completo:
                        .col-12.col-sm-12.col-md-4.col-lg-4
                         
                            .form-outline
                                
                                label.form-label(for='name_user_service')  Nombre(s):
                                input#name_user_s.form-control(type='text')
                                

                        .col-12.col-sm-12.col-md-4.col-lg-4
                        
                            .form-outline

                                label.form-label(for='apellidoPa_user_s') Apellido paterno:
                                input#apellidoPa_user_s.form-control(type='text')
                                
                        
                        .col-12.col-sm-12.col-md-4.col-lg-4
                            .form-outline
                                
                                label.form-label(for='apellidoMa_user_s') Apellido materno:
                                input#apellidoMa_user_s.form-control(type='text')
                                
                    br
                    .row
                        
                        .col-12.col-sm-12.col.md-6.col-lg-6
                            p 
                                b   
                                    i.fa-solid.fa-cake-candles
                                    |  Fecha de nacimiento 
                            .form-outline
                                input#fecha_nacimiento_s.form-control(type='date')
                                
                    br
                    .row
                        p 
                            b 
                                i.fa-solid.fa-house-chimney 
                                |  Dirección: 

                        .col-12.col-sm-12.col-md-4.col-lg-4
                            .form-outline.my-2
                                label.form-label(for='calle_user_s') Calle
                                input#calle_user_s.form-control(type='text')
                                
                            .form-outline.my-2
                                label.form-label(for='no_int')  No. int

                                input#no_int_s.form-control(type='text')
                         
                            .form-outline.my-2
                                label.form-label(for='no_ext_s')  No. ext

                                input#no_ext_s.form-control(type='text')
                             
                        .col-12.col-sm-12.col-md-4.col-lg-4
                            .form-outline.my-2
                                label.form-label(for='municipio_s')  Municipio

                                input#municipio_s.form-control(type='text')
                         
                            .form-outline.my-2

                                label.form-label(for='estado_s')  Estado

                                input#estado_s.form-control(type='text')
                              

                        .col-12.col-sm-12.col-md-4.col-lg-4 
                            .form-outline.my-2
                                label.form-label(for='cp_s') Codigo postal

                                input#cp_s.form-control(type='text')
                    

                            .form-outline.my-2
                                label.form-label(for='referencia_user_s') Referencia

                                input#referencia_user_s.form-control(type='text')
                               
                    
                    br 

                    .row
                        p 
                            b 
                                i.fa-solid.fa-circle-user
                                |  Usuario y contraseña  
                                
                        
                        .col-12.col-sm-12.col-md-4.col-lg-4
                            

                            .form-outline
                                label.form-label(for='name_user_service')  Correo electronico

                                input#email_s.form-control(type='email')
                  
                        
                        .col-12.col-sm-12.col-md-4.col-lg-4
                            .form-outline
                                label.form-label(for='name_user_service')  Contraseña

                                input#pass_s.form-control(type='password')
                       
                        
                        


                                   



                    br   

                .card.footer

                        button.btn.text-white.registro_user_service(type="submit" style="background:#2e889a") Registrar
            br
        .col-1

    

  
