.container-fluid.py-3
  .row
      .col-3.col-sm-3.col-md-3
      .col-6.col-sm-6.col-md-6.text-center
          div
            .input-group
              input.form-control(style ="border-radius:15px !important;width:100%;" type='text' placeholder="Busca un servicio..." aria-label="Recipient's username" aria-describedby='basic-addon2')
               