doctype html
html(lang="en")
        head
        include template/headSRC
        
        title #{title} | about

        body
          
          include template/nav

          include template/about_info
         
          
          


          include template/footer 
          
        

        include ./modals/registro
        include template/scripts