doctype html
html(lang="en")
        head
        include template/headSRC
        
        title #{title}

        body

           
          

          include template/nav

          if(users)
              each val in users
                  
                  p !{val.nombre_user}
         
          
          


          include template/footer 
          
        

        include ./modals/registro
        include template/scripts