
doctype html
html(lang="es")
        head
        include template/headSRC
        
        title #{title} | error

        body(style="background-color:red;")
            div.my-5.mx-5
                h1.text-white 
                    b PAGE NOT FOUND 
                h2.text-white code 404
                a.btn.btn-ligth(href="/") <- return a home
                img(src="https://cdn-icons-png.flaticon.com/512/1791/1791330.png", alt="", srcset="")
          
        

       
        include template/scripts
       
