doctype html
html(lang="en")
    include templates/headers
    body
       
            h1.text-center.py-4.text-bg-danger  Welcome my web 

            
            include templates/login 



    include templates/scripts
    