doctype html
html(lang="en")
    include templates/headers
    body
        
            h1.text-center.text-bg-danger.p-0.m-0  Welcome !!
            h3.text-center.text-bg-warning  I need a service web app

            
            include templates/login 



    include templates/scripts
    