doctype html
html(lang="es")
        head
        include template/headSRC
        
        title #{title} | Home

        body
          include template/nav
          include template/carousel

          include template/footer 
          
        

        include ./modals/registro
        include template/scripts
