doctype html
html(lang="en")
        head
        include template/headSRC
        
        title #{title} | Nuevo servicio

        body


          include template/nav

      
          include template/registro_user_service


          include template/footer 
          
        

        
        
        include ./modals/registro
        include template/scripts
        script( src='/public/js/new_user_service.js')  