doctype html
html(lang="es")
        head
        include template/head
        
        title #{title}

        body
          h1 Hola mundo
          
        

    
        include template/scripts
