.row.py-4 
    .col-4
    .col-4
        .card
            .card-header
                h3.text-center Login
            .card-body
                    label Name
                    input.form-control#name
                    label age
                    input(type="number").form-control#age
                    br
                    button.btn.btn-outline-dark.btn-block#save Guardar
                          
    .col-4
                


script( src='./../public/core/login.js')